<footer class="flex justify-center flex-col items-center">
    <div class="flex flex-row justify-between wrap" style="width:100%; max-width: 1000px;">
        <div>
            <h2 style="color: var(--footer-header-color)">Hummusphere</h2>
            <p style="margin:0px; max-width:225px;"> Welcome to my 'sphere' of the internet. </p>
        </div>
        <div class="flex flex-col" style="padding:10px">
            <div class="flex items-center" style="height:40px">
                <h3 style="color: var(--footer-header-color)"> Socials</h3>
            </div>
            <a style="height:40px;" class="footer-links flex items-center" href="https://www.youtube.com/@humdanq">
                <p>Youtube</p>
            </a>
            <a style="height:40px;" class="footer-links flex items-center" href="https://github.com/humdanq">
                Github
            </a>
        </div>
        <div class="flex flex-col" style="padding:10px">
            <div class="flex items-center" style="height:40px">
                <h3 style="color: var(--footer-header-color)"> Links </h3>
            </div>
            <a class="footer-links flex items-center" style="height:40px;" href="/"> 
                Home
            </a>
            <a class="footer-links flex items-center" style="height:40px;" href="/about/"> 
                About 
            </a>
            <a class="footer-links flex items-center" style="height:40px;" href="/projects/"> 
                Projects 
            </a>
            <a class="footer-links flex items-center" style="height:40px;" href="/blog/"> 
                Blog 
            </a>
        </div>
    </div>
    <p style="text-align:center;">
        © 2026 Hummusphere. All rights reserved. 💚
    </p>
</footer>